In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, precision_score, recall_score, f1_score

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [2]:
dataset = pd.read_csv("./datasets/Holiday Package Travel.csv")
df = dataset
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [3]:
## removing not neccessary column
df.drop('CustomerID', axis=1, inplace=True)
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [4]:
## info of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ProdTaken                 4888 non-null   int64
 1   Age                       4662 non-null   float64
 2   TypeofContact             4863 non-null   object
 3   CityTier                  4888 non-null   int64
 4   DurationOfPitch           4637 non-null   float64
 5   Occupation                4888 non-null   object
 6   Gender                    4888 non-null   object
 7   NumberOfPersonVisiting    4888 non-null   int64
 8   NumberOfFollowups         4843 non-null   float64
 9   ProductPitched            4888 non-null   object
 10  PreferredPropertyStar     4862 non-null   float64
 11  MaritalStatus             4888 non-null   object
 12  NumberOfTrips             4748 non-null   float64
 13  Passport                  4888 non-null   int64
 14  PitchSatisfactionScore    4888 non-null   int64
 15  OwnCar                    4888 non-null   int64
 16  NumberOfChildrenVisiting  4822 non-null   float64
 17  Designation               4888 non-null   object
 18  MonthlyIncome             4655 non-null   float64
dtypes: float64(7), int64(6), object(6)
memory usage: 725.7+ KB

In [5]:
## Checking Null values
#for feature in df.columns:
features_with_na = [column for column in df.columns if df[column].isnull().sum() > 0]
for feaure in features_with_na:
    print(feaure, df[feaure].isnull().sum())

Age 226
TypeofContact 25
DurationOfPitch 251
NumberOfFollowups 45
PreferredPropertyStar 26
NumberOfTrips 140
NumberOfChildrenVisiting 66
MonthlyIncome 233

In [6]:
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']
numeric_features, categorical_features

(['ProdTaken',
  'Age',
  'CityTier',
  'DurationOfPitch',
  'NumberOfPersonVisiting',
  'NumberOfFollowups',
  'PreferredPropertyStar',
  'NumberOfTrips',
  'Passport',
  'PitchSatisfactionScore',
  'OwnCar',
  'NumberOfChildrenVisiting',
  'MonthlyIncome'],
 ['TypeofContact',
  'Occupation',
  'Gender',
  'ProductPitched',
  'MaritalStatus',
  'Designation'])

In [7]:
discrete_features = [feature for feature in numeric_features if df[feature].unique().sum() < 25]
continuous_features = [feature for feature in numeric_features if feature not in discrete_features]
discrete_features, continuous_features

(['ProdTaken',
  'CityTier',
  'NumberOfPersonVisiting',
  'Passport',
  'PitchSatisfactionScore',
  'OwnCar'],
 ['Age',
  'DurationOfPitch',
  'NumberOfFollowups',
  'PreferredPropertyStar',
  'NumberOfTrips',
  'NumberOfChildrenVisiting',
  'MonthlyIncome'])

In [8]:
categorical_features

['TypeofContact',
 'Occupation',
 'Gender',
 'ProductPitched',
 'MaritalStatus',
 'Designation']

In [9]:
for feature in categorical_features:
    print("-----------------------",feature,"---------------------")
    print(df[feature].value_counts())
    print("\n")

----------------------- TypeofContact ---------------------
TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64


----------------------- Occupation ---------------------
Occupation
Salaried          2368
Small Business    2084
Large Business     434
Free Lancer          2
Name: count, dtype: int64


----------------------- Gender ---------------------
Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64


----------------------- ProductPitched ---------------------
ProductPitched
Basic           1842
Deluxe          1732
Standard         742
Super Deluxe     342
King             230
Name: count, dtype: int64


----------------------- MaritalStatus ---------------------
MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64


----------------------- Designation ---------------------
Designation
Executive         1842
Manager           1732
Senior Manager     742
AVP                342
VP                 230
Name: count, dtype: int64

In [10]:
## merging Gender similar columns
df['Gender'].replace('Fe Male', 'Female', inplace=True)
df['Gender'].value_counts()

Gender
Male      2916
Female    1972
Name: count, dtype: int64

In [11]:
## merging the Maritalstatus similar columns
df['MaritalStatus'].replace('Unmarried', 'Single', inplace=True)
df['MaritalStatus'].value_counts()

MaritalStatus
Married     2340
Single      1598
Divorced     950
Name: count, dtype: int64

In [12]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [13]:
features_with_na

['Age',
 'TypeofContact',
 'DurationOfPitch',
 'NumberOfFollowups',
 'PreferredPropertyStar',
 'NumberOfTrips',
 'NumberOfChildrenVisiting',
 'MonthlyIncome']

In [14]:
## imputing the Null Values
for feature in features_with_na:
    if feature in numeric_features:
        if feature in discrete_features:
            df[feature].fillna(df[feature].mode()[0], inplace=True)
        else:
            df[feature].fillna(df[feature].median(), inplace=True)
    else:
        df[feature].fillna(df[feature].mode()[0], inplace=True)

In [15]:
df.isnull().sum()

ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [16]:
## checking the duplicated values
df.duplicated().sum(), df.shape

(141, (4888, 19))

In [17]:
## dropping duplicated values
df.drop_duplicates(inplace=True), df.shape

(None, (4747, 19))

In [18]:
df['TotalPersonsVisiting'] = df['NumberOfPersonVisiting'] + df['NumberOfChildrenVisiting']
df.drop(columns=['NumberOfPersonVisiting', 'NumberOfChildrenVisiting'], axis=1, inplace=True)

In [19]:
## diving the dataset into X and y
X = df.drop("ProdTaken", axis=1)
y = df['ProdTaken']
X

,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalPersonsVisiting
0,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Single,1.0,1,2,1,Manager,20993.0,3.0
1,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Single,7.0,1,3,0,Executive,17090.0,3.0
3,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,49.0,Self Enquiry,3,9.0,Small Business,Male,5.0,Deluxe,4.0,Single,2.0,1,1,1,Manager,26576.0,4.0
4884,28.0,Company Invited,1,31.0,Salaried,Male,5.0,Basic,3.0,Single,3.0,1,3,1,Executive,21212.0,6.0
4885,52.0,Self Enquiry,3,17.0,Salaried,Female,4.0,Standard,4.0,Married,7.0,0,1,1,Senior Manager,31820.0,7.0
4886,19.0,Self Enquiry,3,16.0,Small Business,Male,4.0,Basic,3.0,Single,3.0,0,5,0,Executive,20289.0,5.0
4887,36.0,Self Enquiry,1,14.0,Salaried,Male,4.0,Basic,4.0,Single,3.0,1,3,1,Executive,24041.0,6.0

In [20]:
y

0       1
1       0
2       1
3       0
4       0
       ..
4883    1
4884    1
4885    1
4886    1
4887    1
Name: ProdTaken, Length: 4747, dtype: int64

In [21]:
# Split the dataset into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [22]:
cat_features = X_train.select_dtypes(include='object').columns
num_features = X_train.select_dtypes(exclude='object').columns

preprocessing = ColumnTransformer (
    [
        ('cat', OneHotEncoder(), cat_features),
        ('num', StandardScaler(), num_features)
    ]
)

X_train = preprocessing.fit_transform(X_train)
X_test = preprocessing.transform(X_test)

In [23]:
# Initialize the XGBClassifier model with hyperparameters
model = XGBClassifier()
# Train the model using the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred_train = model.predict(X_train)

# Make predictions on the test data
y_pred_test = model.predict(X_test)

# calculating train dataset scores
# Calculate accuracy score
print("accuracy_score :", accuracy_score(y_train, y_pred_train))
# Calculate precision score
print("precssion_score :", precision_score(y_train, y_pred_train))
# Calculate recall score
print("recall_score :", recall_score(y_train, y_pred_train))
# Calculate F1 score
print("f1_score :", f1_score(y_train, y_pred_train))
# Generate confusion matrix
print("confusion_matrix :\n", confusion_matrix(y_train, y_pred_train))
# Generate classification report
print("classification_report :\n", classification_report(y_train, y_pred_train))

print("---------------------------------------------------------------------")

# calculating test dataset scores
# Calculate accuracy score
print("accuracy_score :", accuracy_score(y_test, y_pred_test))
# Calculate precision score
print("precision_score :", precision_score(y_test, y_pred_test))
# Calculate recall score
print("recall_score :", recall_score(y_test, y_pred_test))
# Calculate F1 score
print("f1_score :", f1_score(y_test, y_pred_test))
# Generate confusion matrix
print("confusion_matrix :\n", confusion_matrix(y_test, y_pred_test))
# Generate classification report
print("classification_report :\n", classification_report(y_test, y_pred_test))

accuracy_score : 0.9991573033707866
precssion_score : 1.0
recall_score : 0.9955223880597015
f1_score : 0.9977561705310396
confusion_matrix :
 [[2890    0]
 [   3  667]]
classification_report :
               precision    recall  f1-score   support

           0       1.00      1.00      1.00      2890
           1       1.00      1.00      1.00       670

    accuracy                           1.00      3560
   macro avg       1.00      1.00      1.00      3560
weighted avg       1.00      1.00      1.00      3560

---------------------------------------------------------------------
accuracy_score : 0.9393428812131424
precision_score : 0.9086021505376344
recall_score : 0.7544642857142857
f1_score : 0.824390243902439
confusion_matrix :
 [[946  17]
 [ 55 169]]
classification_report :
               precision    recall  f1-score   support

           0       0.95      0.98      0.96       963
           1       0.91      0.75      0.82       224

    accuracy                           0.94      1187
   macro avg       0.93      0.87      0.89      1187
weighted avg       0.94      0.94      0.94      1187

### Lets Train and predict the data for different alogirthms

In [24]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [25]:

models = {

    'logistic_regression' : LogisticRegression(),
    'knn' : KNeighborsClassifier(),
    'naive_bayes' : GaussianNB(),
    'decision_tree' : DecisionTreeClassifier(),
    'random_forest' : RandomForestClassifier(),
    'adaboost': AdaBoostClassifier(),
    'GradientBoost' : GradientBoostingClassifier(),
    'xgboost' : XGBClassifier()
}
models

{'logistic_regression': LogisticRegression(),
 'knn': KNeighborsClassifier(),
 'naive_bayes': GaussianNB(),
 'decision_tree': DecisionTreeClassifier(),
 'random_forest': RandomForestClassifier(),
 'adaboost': AdaBoostClassifier(),
 'GradientBoost': GradientBoostingClassifier(),
 'xgboost': XGBClassifier(base_score=None, booster=None, callbacks=None,
               colsample_bylevel=None, colsample_bynode=None,
               colsample_bytree=None, device=None, early_stopping_rounds=None,
               enable_categorical=False, eval_metric=None, feature_types=None,
               gamma=None, grow_policy=None, importance_type=None,
               interaction_constraints=None, learning_rate=None, max_bin=None,
               max_cat_threshold=None, max_cat_to_onehot=None,
               max_delta_step=None, max_depth=None, max_leaves=None,
               min_child_weight=None, missing=nan, monotone_constraints=None,
               multi_strategy=None, n_estimators=None, n_jobs=None,
               num_parallel_tree=None, random_state=None, ...)}

In [26]:
for m in range(len(list(models))):

    model = list(models.values())[m]

# Train the model using the training data
    model.fit(X_train, y_train)


# Make predictions on the test data
    y_pred_train = model.predict(X_train)


# Make predictions on the test data
    y_pred_test = model.predict(X_test)

    print(f"----------------- {list(models.keys())[m]} ---------------------")

    # calculating train dataset scores
    print("train dataset prediction values")
# Calculate accuracy score
    print("- accuracy_score :", accuracy_score(y_train, y_pred_train))
# Calculate precision score
    print("- precssion_score :", precision_score(y_train, y_pred_train))
# Calculate recall score
    print("- recall_score :", recall_score(y_train, y_pred_train))
# Calculate F1 score
    print("- f1_score :", f1_score(y_train, y_pred_train))
# Generate confusion matrix
    print("- confusion_matrix :\n", confusion_matrix(y_train, y_pred_train))
# Generate classification report
    print("- classification_report :\n", classification_report(y_train, y_pred_train))

    print("---------------------------------------------------------------------")

    # calculating test dataset scores
    print("test dataset prediction values")
# Calculate accuracy score
    print("- accuracy_score :", accuracy_score(y_test, y_pred_test))
# Calculate precision score
    print("- precision_score :", precision_score(y_test, y_pred_test))
# Calculate recall score
    print("- recall_score :", recall_score(y_test, y_pred_test))
# Calculate F1 score
    print("- f1_score :", f1_score(y_test, y_pred_test))
# Generate confusion matrix
    print("- confusion_matrix :\n", confusion_matrix(y_test, y_pred_test))
# Generate classification report
    print("- classification_report :\n", classification_report(y_test, y_pred_test))
    print("*"*50)
    print("\n")

----------------- logistic_regression ---------------------
train dataset prediction values
- accuracy_score : 0.8438202247191011
- precssion_score : 0.7021276595744681
- recall_score : 0.2955223880597015
- f1_score : 0.41596638655462187
- confusion_matrix :
 [[2806   84]
 [ 472  198]]
- classification_report :
               precision    recall  f1-score   support

           0       0.86      0.97      0.91      2890
           1       0.70      0.30      0.42       670

    accuracy                           0.84      3560
   macro avg       0.78      0.63      0.66      3560
weighted avg       0.83      0.84      0.82      3560

---------------------------------------------------------------------
test dataset prediction values
- accuracy_score : 0.8407750631844987
- precision_score : 0.6635514018691588
- recall_score : 0.3169642857142857
- f1_score : 0.42900302114803623
- confusion_matrix :
 [[927  36]
 [153  71]]
- classification_report :
               precision    recall  f1-score   support

           0       0.86      0.96      0.91       963
           1       0.66      0.32      0.43       224

    accuracy                           0.84      1187
   macro avg       0.76      0.64      0.67      1187
weighted avg       0.82      0.84      0.82      1187

**************************************************


----------------- knn ---------------------
train dataset prediction values
- accuracy_score : 0.9457865168539326
- precssion_score : 0.9376146788990826
- recall_score : 0.7626865671641792
- f1_score : 0.8411522633744856
- confusion_matrix :
 [[2856   34]
 [ 159  511]]
- classification_report :
               precision    recall  f1-score   support

           0       0.95      0.99      0.97      2890
           1       0.94      0.76      0.84       670

    accuracy                           0.95      3560
   macro avg       0.94      0.88      0.90      3560
weighted avg       0.95      0.95      0.94      3560

---------------------------------------------------------------------
test dataset prediction values
- accuracy_score : 0.8955349620893007
- precision_score : 0.8289473684210527
- recall_score : 0.5625
- f1_score : 0.6702127659574468
- confusion_matrix :
 [[937  26]
 [ 98 126]]
- classification_report :
               precision    recall  f1-score   support

           0       0.91      0.97      0.94       963
           1       0.83      0.56      0.67       224

    accuracy                           0.90      1187
   macro avg       0.87      0.77      0.80      1187
weighted avg       0.89      0.90      0.89      1187

**************************************************


----------------- naive_bayes ---------------------
train dataset prediction values
- accuracy_score : 0.8191011235955056
- precssion_score : 0.8611111111111112
- recall_score : 0.04626865671641791
- f1_score : 0.08781869688385269
- confusion_matrix :
 [[2885    5]
 [ 639   31]]
- classification_report :
               precision    recall  f1-score   support

           0       0.82      1.00      0.90      2890
           1       0.86      0.05      0.09       670

    accuracy                           0.82      3560
   macro avg       0.84      0.52      0.49      3560
weighted avg       0.83      0.82      0.75      3560

---------------------------------------------------------------------
test dataset prediction values
- accuracy_score : 0.818871103622578
- precision_score : 0.9090909090909091
- recall_score : 0.044642857142857144
- f1_score : 0.0851063829787234
- confusion_matrix :
 [[962   1]
 [214  10]]
- classification_report :
               precision    recall  f1-score   support

           0       0.82      1.00      0.90       963
           1       0.91      0.04      0.09       224

    accuracy                           0.82      1187
   macro avg       0.86      0.52      0.49      1187
weighted avg       0.84      0.82      0.75      1187

**************************************************


----------------- decision_tree ---------------------
train dataset prediction values
- accuracy_score : 1.0
- precssion_score : 1.0
- recall_score : 1.0
- f1_score : 1.0
- confusion_matrix :
 [[2890    0]
 [   0  670]]
- classification_report :
               precision    recall  f1-score   support

           0       1.00      1.00      1.00      2890
           1       1.00      1.00      1.00       670

    accuracy                           1.00      3560
   macro avg       1.00      1.00      1.00      3560
weighted avg       1.00      1.00      1.00      3560

---------------------------------------------------------------------
test dataset prediction values
- accuracy_score : 0.9123841617523167
- precision_score : 0.7479338842975206
- recall_score : 0.8080357142857143
- f1_score : 0.776824034334764
- confusion_matrix :
 [[902  61]
 [ 43 181]]
- classification_report :
               precision    recall  f1-score   support

           0       0.95      0.94      0.95       963
           1       0.75      0.81      0.78       224

    accuracy                           0.91      1187
   macro avg       0.85      0.87      0.86      1187
weighted avg       0.92      0.91      0.91      1187

**************************************************


----------------- random_forest ---------------------
train dataset prediction values
- accuracy_score : 1.0
- precssion_score : 1.0
- recall_score : 1.0
- f1_score : 1.0
- confusion_matrix :
 [[2890    0]
 [   0  670]]
- classification_report :
               precision    recall  f1-score   support

           0       1.00      1.00      1.00      2890
           1       1.00      1.00      1.00       670

    accuracy                           1.00      3560
   macro avg       1.00      1.00      1.00      3560
weighted avg       1.00      1.00      1.00      3560

---------------------------------------------------------------------
test dataset prediction values
- accuracy_score : 0.928390901432182
- precision_score : 0.9371069182389937
- recall_score : 0.6651785714285714
- f1_score : 0.7780678851174935
- confusion_matrix :
 [[953  10]
 [ 75 149]]
- classification_report :
               precision    recall  f1-score   support

           0       0.93      0.99      0.96       963
           1       0.94      0.67      0.78       224

    accuracy                           0.93      1187
   macro avg       0.93      0.83      0.87      1187
weighted avg       0.93      0.93      0.92      1187

**************************************************


----------------- adaboost ---------------------
train dataset prediction values
- accuracy_score : 0.8480337078651685
- precssion_score : 0.6984615384615385
- recall_score : 0.33880597014925373
- f1_score : 0.4562814070351759
- confusion_matrix :
 [[2792   98]
 [ 443  227]]
- classification_report :
               precision    recall  f1-score   support

           0       0.86      0.97      0.91      2890
           1       0.70      0.34      0.46       670

    accuracy                           0.85      3560
   macro avg       0.78      0.65      0.68      3560
weighted avg       0.83      0.85      0.83      3560

---------------------------------------------------------------------
test dataset prediction values
- accuracy_score : 0.8424599831508003
- precision_score : 0.6554621848739496
- recall_score : 0.3482142857142857
- f1_score : 0.45481049562682213
- confusion_matrix :
 [[922  41]
 [146  78]]
- classification_report :
               precision    recall  f1-score   support

           0       0.86      0.96      0.91       963
           1       0.66      0.35      0.45       224

    accuracy                           0.84      1187
   macro avg       0.76      0.65      0.68      1187
weighted avg       0.82      0.84      0.82      1187

**************************************************


----------------- GradientBoost ---------------------
train dataset prediction values
- accuracy_score : 0.8842696629213483
- precssion_score : 0.8505434782608695
- recall_score : 0.4671641791044776
- f1_score : 0.603082851637765
- confusion_matrix :
 [[2835   55]
 [ 357  313]]
- classification_report :
               precision    recall  f1-score   support

           0       0.89      0.98      0.93      2890
           1       0.85      0.47      0.60       670

    accuracy                           0.88      3560
   macro avg       0.87      0.72      0.77      3560
weighted avg       0.88      0.88      0.87      3560

---------------------------------------------------------------------
test dataset prediction values
- accuracy_score : 0.8626790227464195
- precision_score : 0.7563025210084033
- recall_score : 0.4017857142857143
- f1_score : 0.5247813411078717
- confusion_matrix :
 [[934  29]
 [134  90]]
- classification_report :
               precision    recall  f1-score   support

           0       0.87      0.97      0.92       963
           1       0.76      0.40      0.52       224

    accuracy                           0.86      1187
   macro avg       0.82      0.69      0.72      1187
weighted avg       0.85      0.86      0.85      1187

**************************************************


----------------- xgboost ---------------------
train dataset prediction values
- accuracy_score : 0.9991573033707866
- precssion_score : 1.0
- recall_score : 0.9955223880597015
- f1_score : 0.9977561705310396
- confusion_matrix :
 [[2890    0]
 [   3  667]]
- classification_report :
               precision    recall  f1-score   support

           0       1.00      1.00      1.00      2890
           1       1.00      1.00      1.00       670

    accuracy                           1.00      3560
   macro avg       1.00      1.00      1.00      3560
weighted avg       1.00      1.00      1.00      3560

---------------------------------------------------------------------
test dataset prediction values
- accuracy_score : 0.9393428812131424
- precision_score : 0.9086021505376344
- recall_score : 0.7544642857142857
- f1_score : 0.824390243902439
- confusion_matrix :
 [[946  17]
 [ 55 169]]
- classification_report :
               precision    recall  f1-score   support

           0       0.95      0.98      0.96       963
           1       0.91      0.75      0.82       224

    accuracy                           0.94      1187
   macro avg       0.93      0.87      0.89      1187
weighted avg       0.94      0.94      0.94      1187

**************************************************

## Hyperparameter Tuning

In [27]:
xgboost_params = {

    "n_estimators" : [50,100,150,200],
    "max_depth" : [1,2,3,4,5,6,7,8,9,10,11],
    "colsample_bytree": [0,0.1,0.3,0.5,0.7,0.9,1],
    "learning_rate" : [0.01,0.001,0.1,1]
}

In [28]:
# Initialize the XGBClassifier model with hyperparameters
randomcv_models = [

    ('xgboost', XGBClassifier(), xgboost_params)
]

In [29]:
# hyperparameter tuning using randomizedCV
model_params = {}
for name, model, params in randomcv_models:

    random_cv = RandomizedSearchCV(estimator=model,
                                param_distributions=params,
                                scoring="accuracy",
                                n_jobs=-1,
                                verbose=1,
                                cv=5,
                                refit=True,
                                )
    random_cv.fit(X_train, y_train)
    model_params[name] = random_cv.best_params_

model_params

Fitting 5 folds for each of 10 candidates, totalling 50 fits

{'GradientBoost': {'n_estimators': 150,
  'max_depth': 11,
  'learning_rate': 1,
  'colsample_bytree': 0.9}}

In [31]:
# Initialize the XGBClassifier model with hyperparameters
model = XGBClassifier(n_estimators=150,
                      learning_rate=1,
                      max_depth = 11,
                      colsample_bytree=0.9)
# Train the model using the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred_train = model.predict(X_train)

# Make predictions on the test data
y_pred_test = model.predict(X_test)

# calculating train dataset scores
print("train dataset prediction values")
# Calculate accuracy score
print("- accuracy_score :", accuracy_score(y_train, y_pred_train))
# Calculate precision score
print("- precssion_score :", precision_score(y_train, y_pred_train))
# Calculate recall score
print("- recall_score :", recall_score(y_train, y_pred_train))
# Calculate F1 score
print("- f1_score :", f1_score(y_train, y_pred_train))
# Generate confusion matrix
print("- confusion_matrix :\n", confusion_matrix(y_train, y_pred_train))
# Generate classification report
print("- classification_report :\n", classification_report(y_train, y_pred_train))

print("---------------------------------------------------------------------")

# calculating test dataset scores
print("test dataset prediction values")
# Calculate accuracy score
print("- accuracy_score :", accuracy_score(y_test, y_pred_test))
# Calculate precision score
print("- precision_score :", precision_score(y_test, y_pred_test))
# Calculate recall score
print("- recall_score :", recall_score(y_test, y_pred_test))
# Calculate F1 score
print("- f1_score :", f1_score(y_test, y_pred_test))
# Generate confusion matrix
print("- confusion_matrix :\n", confusion_matrix(y_test, y_pred_test))
# Generate classification report
print("- classification_report :\n", classification_report(y_test, y_pred_test))
print("*"*50)
print("\n")

train dataset prediction values
- accuracy_score : 1.0
- precssion_score : 1.0
- recall_score : 1.0
- f1_score : 1.0
- confusion_matrix :
 [[2890    0]
 [   0  670]]
- classification_report :
               precision    recall  f1-score   support

           0       1.00      1.00      1.00      2890
           1       1.00      1.00      1.00       670

    accuracy                           1.00      3560
   macro avg       1.00      1.00      1.00      3560
weighted avg       1.00      1.00      1.00      3560

---------------------------------------------------------------------
test dataset prediction values
- accuracy_score : 0.9469250210614996
- precision_score : 0.8815165876777251
- recall_score : 0.8303571428571429
- f1_score : 0.8551724137931035
- confusion_matrix :
 [[938  25]
 [ 38 186]]
- classification_report :
               precision    recall  f1-score   support

           0       0.96      0.97      0.97       963
           1       0.88      0.83      0.86       224

    accuracy                           0.95      1187
   macro avg       0.92      0.90      0.91      1187
weighted avg       0.95      0.95      0.95      1187

**************************************************